@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  width: 100%;
}

.hidden {
  display: none !important;
}

/* Rating container styling */

.rating-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  padding: 40px 35px 20px 35px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
}

.star-container {
  background-color: hsl(213, 19%, 25%);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-img {
  margin-bottom: 2px;
}

.text-container {
  color: white;
  font-family: 'Overpass';
}

.rating-heading {
  margin-top: 35px;
  color: white;
}

.rating-description {
  color: hsl(217, 12%, 63%);
}

.ratings-container {
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 20px 0px;
}

.rating-bubble {
  background-color: hsl(213, 19%, 25%);
  color: white;
  font-family: 'Overpass';
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-bubble:hover {
  background-color: white;
  color: hsl(213, 19%, 18%);
  cursor: pointer;
}

.rating-bubble.selected {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.rating-bubble-text {
  margin-top: 1px;
}

.submit-button {
  letter-spacing: 0.1rem;
  font-size: 13px;
  font-family: 'Overpass';
  background-color: hsl(25, 97%, 53%);
  color: black;
  border-radius: 25px;
  border: none;
  height: 40px;
  font-weight: bold;
}

.submit-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* Thank you container */

.thank-you-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Overpass';
  height: 330px;
  width: 350px;
  padding: 40px 35px 20px 35px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
}

.thank-you-img {
  width: 140px;
  height: auto;
  align-self: center;
}

.rating-result {
  align-self: center;
  background-color: hsl(213, 19%, 25%);
  border-radius: 10px;
  margin: 15px;
  width: 60%;
}

.rating-result-text {
  color: hsl(25, 97%, 53%);
  margin: 5px;
  padding-top: 1px;
}

.thank-you-heading {
  color: white;
}

.thank-you-text {
  color: hsl(217, 12%, 63%);
}
