@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  width: 100%;
}

.container {
  height: 350px;
  width: 350px;
  padding: 40px 35px 20px 35px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 10px;
}

/* Rating container styling */

.rating {
    display: flex;
    flex-direction: column;
}

.star-container {
    background-color: hsl(213, 19%, 25%);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-img {
    margin-bottom: 2px;
}

.text-container {
    color: white;
    font-family: 'Overpass'
}

.description {
    color: hsl(217, 12%, 63%);
}

.ratings-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}

.rating-bubble {
    background-color: hsl(213, 19%, 25%);
    color: white;
    font-family: "Overpass";
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-bubble-text {
    margin-top: 1px;
}

.submit-button {
    letter-spacing: 0.1rem;
    font-size: 16px;
    font-family: "Overpass";
    background-color: orange;
    color: black;
    border-radius: 15px;
    border: none;
    height: 40px;
    font-weight: bold;
}

/* Thank you container */

.thank-you {
    display: none'
}